.settingCard {
  position: relative;
}

.signOutBtn {
  color: #564df3 !important;
}

.reachBtn {
  background: #000000 !important;
  color: #ffffff !important;
  height: 52px !important;
}

.googleBtn {
  background: #000000 !important;
  color: #ffffff !important;
  height: 52px !important;
}

.updatedbtn {
  height: 52px !important;
  background: #4339f2 !important;
  max-width: 340px !important;
  color: #ffffff !important;
}
